.userdata .card{
    width:45%;
}
.userdata .card-body{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
.userdata .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}
